<div class="min-h-screen bg-gray-100 overflow-hidden">
    <!-- Top Navigation -->
    <nav class="bg-white shadow-sm max-h-16 h-16">
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">

                        <span class="text-xl font-bold text-orange-600">
                            Electro<span class="text-gray-900">Pro</span> <span
                                class="text-gray-500 text-sm font-normal">Admin</span>
                        </span>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="ml-3 relative">
                        <div class="flex items-center">
                            <span class="mr-2 text-sm font-medium text-gray-700">
                                <!-- {{ currentUser?.name }} -->
                                Hieu
                            </span>
                            <button (click)="logout()" class="text-sm text-orange-600 hover:text-orange-800">
                                Đăng xuất
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="flex h-[calc(100vh-64px)]">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>

        <!-- Main Content -->
        <div class="flex-1 p-4 md:p-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>