::ng-deep {
    app-upload-image {
        p-image {
            .p-image-preview {
                &>img {
                    width: 320px;
                    height: 320px;
                    object-fit: contain;
                }
            }
        }

    }
}