::ng-deep app-product-item {
    .p-card {

        .p-card-header {
            padding: 0;
            position: relative;
            // height: 180px;
        }


        .p-card-body {
            padding: 10px;

            .p-card-title {}

            .p-card-footer {}

        }
    }
}