<p-card [style]="{height: '100%',maxWidth: '300px'}">
    <ng-template #header>
        <img [src]="product.images[0]" [alt]="product.name" class="object-cover rounded-sm  h-48 w-full" />

        <p-tag [value]="product.categoryName"  class="absolute"
            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />

    </ng-template>

    <ng-template #title>

        <div>
            {{ product.name }}

        </div>
    </ng-template>
    <ng-template #content>
        <div class="line-clamp-2 text-sm text-gray-500">{{ product.description }}</div>
    </ng-template>

    <ng-template #footer>
        <div>
            <span class="text-md font-semibold">
                {{ product.price | number:'1.0-0' }} <span class="text-xs text-gray-500">VNĐ</span>
            </span>

        </div>
        <div class=" gap-4 mt-3">
            <p-button [routerLink]="['/products', product.id]" icon="pi pi-eye" variant="outlined" severity="warn"
                label="Xem chi tiết" class="w-full " styleClass="w-full " />
        </div>
    </ng-template>
</p-card>