<div>
  <!-- Hero Section -->
  <section class="container mt-5 mx-auto   relative">
    <div class="absolute rounded-3xl inset-0">
      <img
        src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630"
        alt="Hero Background" class="rounded-3xl w-full h-full object-cover " />
      <div class="absolute rounded-3xl inset-0 bg-black/30"></div>
    </div>
    <div class="container relative mx-auto py-16 md:py-24 px-4">

      <div class="mx-auto max-w-3xl text-center">
        <h1 class="mb-4 text-4xl text-white font-bold tracking-tight md:text-5xl">
          Sản phẩm <span class="text-orange-600">của chúng tôi</span>
        </h1>
        <p class="mb-8 text-lg text-gray-200">
          Duyệt qua danh mục sản phẩm điện tử chất lượng cao của chúng tôi cho các ứng dụng công nghiệp
        </p>

      </div>
    </div>
  </section>


  <!-- Products Section -->
  <section class="py-16 md:py-24">

    <div class="container mx-auto px-4">



      <!-- Products Grid -->
      <div class="">

        <div class="mb-6 w-3/4 flex ml-auto flex-col sm:flex-row justify-end gap-8  sm:items-center">
          <div class="flex items-center flex-1 ">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-search"></i>
              </p-inputgroup-addon>
              <input pInputText [(ngModel)]="searchTerm" (input)="onSearchChange($event)" placeholder="Tìm sản phẩm" />
            </p-inputgroup>
          </div>

          <div class="flex items-center">
            <p-select [options]="sortPrice" [(ngModel)]="sortBy" (onChange)="onSortChange($event)"
              placeholder="Chọn phương thức sắp xếp" class="w-full md:w-56" />

          </div>
        </div>


        <div class="flex items-start gap-8">
          <div class="w-1/4  flex flex-col gap-2 list-filter">

            <p-accordion value="0" class="w-80">
              <p-accordion-panel value="0">
                <p-accordion-header>Danh Mục Sản Phẩm</p-accordion-header>
                <p-accordion-content>
                  <p-listbox (onChange)="onDropdownChange($event)" [(ngModel)]="selectedCategory" [options]="categories"
                    [multiple]="true" [checkbox]="true" optionLabel="name" class="w-full md:w-56" />

                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>

            <div class="flex items-center">
              <p-checkbox [binary]="true" value="Giá Tiền" [(ngModel)]="isRangePrice" />
              <label for="ingredient1" class="ml-2"> Giá Tiền </label>
            </div>


            <div class="flex justify-between items-center w-80 mb-4" id="label_number">
              <span>{{ rangePrice[0] |number:'1.0-0' }}</span> <span>{{ rangePrice[1] |number:'1.0-0' }}</span>
            </div>

            <p-slider (onchange)="onRangeChange($event)" [max]="10000000" ariaLabelledBy="label_number"
              [(ngModel)]="rangePrice" [range]="true" class="w-80 block" ariaLabel="Number"
              [disabled]="!isRangePrice" />


            <button p-button
              class=" rounded-md w-80 border border-gray-300 bg-white px-4 py-2 mt-4  text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
              (click)="resetFilters()">
              Reset Filters
            </button>
          </div>

          <div *ngIf="filteredProducts.length > 0" class="w-3/4 grid gap-6 sm:grid-cols-2 lg:grid-cols-4">

            <app-product-item *ngFor="let product of filteredProducts" [product]="product"></app-product-item>
          </div>
        </div>


        <div *ngIf="filteredProducts.length === 0" class="rounded-lg border border-dashed p-8 text-center">
          <h3 class="mb-2 text-xl font-semibold">No products found</h3>
          <p class="text-gray-600">Try adjusting your search or filter criteria</p>
        </div>
      </div>
    </div>
  </section>




</div>