<p-card [style]="{height: '100%',maxWidth: '478px'}">
    <ng-template #header>
        <div class="relative h-64 w-full overflow-hidden">
            <img [src]="project.images[0]" [alt]="project.title"
                class="object-cover transition-transform duration-300 hover:scale-105 h-full w-full" />

            <p-tag [value]="project.categoryName" class="absolute" severity="contrast"
                [ngStyle]="{ 'right.px': 4, 'top.px': 4 }" />
        </div>
        <!-- <img [src]="project.image" [alt]="project.name"
            class="object-cover transition-transform duration-300 hover:scale-105 h-full w-full" />

        <p-tag [value]="project.categoryName" class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
        <p-tag [value]="project.categoryName" class="absolute" severity="contrast"
            [ngStyle]="{ 'right.px': 4, 'top.px': 4 }" /> -->

    </ng-template>

    <ng-template #title>
        <h3 class="mb-2 text-xl font-bold">{{ project.title }}</h3>
    </ng-template>
    <ng-template #content>
        <p class="mb-4 text-gray-600 line-clamp-2">{{ project.description }}</p>
        <div class="mb-4 space-y-2 text-sm text-gray-600">
            <div class="flex items-center gap-3">
                <i class="pi pi-map"></i>
                <span>{{ project.location }}</span>
            </div>

        </div>

    </ng-template>

    <ng-template #footer>

        <p-button [routerLink]="['/projects', project.id]" icon="pi pi-eye" severity="contrast" label="Xem chi tiết"
            class="w-full " styleClass="w-full " />
    </ng-template>
</p-card>